[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/vim_runtime"]
	path = vim/vim_runtime
	url = https://github.com/amix/vimrc.git
[submodule "dotdrop"]
	path = dotdrop
	url = https://github.com/deadc0de6/dotdrop.git
